body {
    background: #faf7f2;
}

.full-height {
    height: 100vh;
    display: flex;
    justify-content: center;
}

fieldset:disabled input[type="text"],
fieldset:disabled input[type="email"],
fieldset:disabled input[type="phone"],
fieldset:disabled input[type="address"] {
    background-color: #ffffff;
}

/*Product*/

.product-description {
    font-weight: 200;
}

.figure h5 {
    font-weight: bold;
    color: #000;
}

.figure p {
    font-weight: 100;
    color: #171717;
    margin-top: -5px;
}

.figure-img {
    position: relative;
}

.figure-img a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 8px;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s;
}

.figure-img:hover a {
    opacity: 1;
}

/*Product Page*/

.title-product {
    font-weight: 600;
}

.price-product {
    font-weight: 200;
}

.add-cart input {
    border-radius: 0;
}

.add-cart select {
    border-radius: 0;
}

.btn-cart {
    background-color: #656464 !important;
    color: #fff;
    border-radius: 50px;
}

.btn-cart:hover {
    background-color: #000000 !important;
}

.card {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    box-sizing: border-box;
}

.product-info .alert {
    font-weight: 400;
    color: #000;
}

.product-info .active {
    background-color: #f9b234 !important;
    border-radius: 50px;
}

.tab-pane p {
    font-weight: 200;
}

/* -------- Checkout / Table -------- */
.site-blocks-table thead th {
    padding-bottom: 1.5rem;
    border-width: 0px !important;
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.8);
    font-size: 18px;
    border-bottom: 2px solid #3b5d50 !important;
}

.site-blocks-table tbody tr td {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.site-blocks-table td {
    color: rgba(0, 0, 0, 0.8);
}

.form-control {
    height: 50px;
    border-radius: 10px;
    font-family: "Inter", sans-serif;
}

.form-control::placeholder {
    color: #999;
}

.form-control:not(:placeholder-shown) {
    color: #000;
}

/* -------- Bank List -------- */
.bank-list div,
.bank-list li {
    margin-bottom: 1rem;
    margin-left: 2rem;
}

.bank-list img {
    margin-right: 1rem;
}